In [1]:
import pandas as pd

name = ['phol','saf','boy']
item = ['home','game','sword']
price = [200,100,150]

name_s = pd.Series(name)
item_s = pd.Series(item)
price_s = pd.Series(price)
#Series to DataFrame
frame = {'name':name_s,'item':item_s,'price':price_s}
df = pd.DataFrame(frame)

In [3]:
df
#มี index
df.to_csv('CVS_save.csv',header=True,index=True)

#ไม่มี index
df.to_csv('CVS_save2.csv',header=True,index=False)

#ไม่มีหัวคาราง
df.to_csv('CVS_save3.csv',header=False,index=True)

#ไม่มีหัว ไม่มีคาราง
df.to_csv('CVS_save4.csv',header=False,index=False)

In [4]:
df

   name   item  price
0  phol   home    200
1   saf   game    100
2   boy  sword    150