In [2]:
import pandas as pd
cols = ['name','price']
#เลือกแสดงบางหัวข้อ
df = pd.read_csv('CVS_save.csv',encoding='utf-8',usecols=cols)

In [3]:
df

   name  price
0  phol    200
1   saf    100
2   boy    150

In [8]:
#กำหนด index
df = pd.read_csv('CVS_save.csv',encoding='utf-8',usecols=cols,index_col='price')
df

       name
price
200    phol
100     saf
150     boy

In [9]:
#กำหนด index มาทั้งหมด
df = pd.read_csv('CVS_save.csv',encoding='utf-8',index_col='price')
df

       Unnamed: 0  name   item
price
200             0  phol   home
100             1   saf   game
150             2   boy  sword