In [10]:
import pandas as pd
df = pd.read_excel('Stock.xlsx',index_col='Name')
df

                             Category    Price  Amount
Name
เมาส์              อุปกรณ์คอมพิวเตอร์    900.0    10.0
ปากกา                 อุปกรณ์การเรียน    200.0     5.0
โคมไฟ                เครื่องใช้ในบ้าน   1200.0     7.0
ไมโครโฟน              เครื่องใช้ไฟฟ้า    750.0     1.0
เครื่องซักผ้า         เครื่องใช้ไฟฟ้า   3500.0     0.0
เสื้อยืดคอกลม                เสื้อผ้า    500.0     2.0
กางเกงยีนต์                  เสื้อผ้า    999.0     8.0
ตุ๊กตาหมีพูห์                 ของเล่น    950.0     5.0
โซฟา                     เฟอร์นิเจอร์   5000.0     5.0
จาน                       เครื่องครัว    250.0     4.0
ทีวี                  เครื่องใช้ไฟฟ้า  15000.0     7.0
ยางลบ                 อุปกรณ์การเรียน     20.0     5.0
External HardDisk  อุปกรณ์คอมพิวเตอร์   2500.0     7.0
คีย์บอร์ด          อุปกรณ์คอมพิวเตอร์    850.0     5.0
รถบังคับ                      ของเล่น    500.0     6.0

In [11]:
df['delivery'] = 36
df['total'] = df['Price']+df['delivery']

In [12]:
df

                             Category    Price  Amount  delivery    total
Name
เมาส์              อุปกรณ์คอมพิวเตอร์    900.0    10.0        36    936.0
ปากกา                 อุปกรณ์การเรียน    200.0     5.0        36    236.0
โคมไฟ                เครื่องใช้ในบ้าน   1200.0     7.0        36   1236.0
ไมโครโฟน              เครื่องใช้ไฟฟ้า    750.0     1.0        36    786.0
เครื่องซักผ้า         เครื่องใช้ไฟฟ้า   3500.0     0.0        36   3536.0
เสื้อยืดคอกลม                เสื้อผ้า    500.0     2.0        36    536.0
กางเกงยีนต์                  เสื้อผ้า    999.0     8.0        36   1035.0
ตุ๊กตาหมีพูห์                 ของเล่น    950.0     5.0        36    986.0
โซฟา                     เฟอร์นิเจอร์   5000.0     5.0        36   5036.0
จาน                       เครื่องครัว    250.0     4.0        36    286.0
ทีวี                  เครื่องใช้ไฟฟ้า  15000.0     7.0        36  15036.0
ยางลบ                 อุปกรณ์การเรียน     20.0     5.0        36     56.0
External HardDisk  อุปกรณ์คอมพิวเตอร์   2500.0     7.0        36   2536.0
คีย์บอร์ด          อุปกรณ์คอมพิวเตอร์    850.0     5.0        36    886.0
รถบังคับ                      ของเล่น    500.0     6.0        36    536.0

# ลบ แถว cols

In [13]:
# ลบ แถว cols
df.drop('delivery',axis=1,inplace=True)

In [14]:
df

                             Category    Price  Amount    total
Name
เมาส์              อุปกรณ์คอมพิวเตอร์    900.0    10.0    936.0
ปากกา                 อุปกรณ์การเรียน    200.0     5.0    236.0
โคมไฟ                เครื่องใช้ในบ้าน   1200.0     7.0   1236.0
ไมโครโฟน              เครื่องใช้ไฟฟ้า    750.0     1.0    786.0
เครื่องซักผ้า         เครื่องใช้ไฟฟ้า   3500.0     0.0   3536.0
เสื้อยืดคอกลม                เสื้อผ้า    500.0     2.0    536.0
กางเกงยีนต์                  เสื้อผ้า    999.0     8.0   1035.0
ตุ๊กตาหมีพูห์                 ของเล่น    950.0     5.0    986.0
โซฟา                     เฟอร์นิเจอร์   5000.0     5.0   5036.0
จาน                       เครื่องครัว    250.0     4.0    286.0
ทีวี                  เครื่องใช้ไฟฟ้า  15000.0     7.0  15036.0
ยางลบ                 อุปกรณ์การเรียน     20.0     5.0     56.0
External HardDisk  อุปกรณ์คอมพิวเตอร์   2500.0     7.0   2536.0
คีย์บอร์ด          อุปกรณ์คอมพิวเตอร์    850.0     5.0    886.0
รถบังคับ                      ของเล่น    500.0     6.0    536.0

In [25]:
df = pd.read_excel('./Stock.xlsx')
df

                 Name            Category    Price  Amount
0               เมาส์  อุปกรณ์คอมพิวเตอร์    900.0    10.0
1               ปากกา     อุปกรณ์การเรียน    200.0     5.0
2               โคมไฟ    เครื่องใช้ในบ้าน   1200.0     7.0
3            ไมโครโฟน     เครื่องใช้ไฟฟ้า    750.0     1.0
4       เครื่องซักผ้า     เครื่องใช้ไฟฟ้า   3500.0     0.0
5       เสื้อยืดคอกลม            เสื้อผ้า    500.0     2.0
6         กางเกงยีนต์            เสื้อผ้า    999.0     8.0
7       ตุ๊กตาหมีพูห์             ของเล่น    950.0     5.0
8                โซฟา        เฟอร์นิเจอร์   5000.0     5.0
9                 จาน         เครื่องครัว    250.0     4.0
10               ทีวี     เครื่องใช้ไฟฟ้า  15000.0     7.0
11              ยางลบ     อุปกรณ์การเรียน     20.0     5.0
12  External HardDisk  อุปกรณ์คอมพิวเตอร์   2500.0     7.0
13          คีย์บอร์ด  อุปกรณ์คอมพิวเตอร์    850.0     5.0
14           รถบังคับ             ของเล่น    500.0     6.0

# ลบ แถว rows

In [26]:
# ลบ แถว rows
rows = [10,0] #ใส่เลขอินเด็กลงไป
df.drop(rows,axis=0,inplace=True)

In [27]:
df

                 Name            Category   Price  Amount
1               ปากกา     อุปกรณ์การเรียน   200.0     5.0
2               โคมไฟ    เครื่องใช้ในบ้าน  1200.0     7.0
3            ไมโครโฟน     เครื่องใช้ไฟฟ้า   750.0     1.0
4       เครื่องซักผ้า     เครื่องใช้ไฟฟ้า  3500.0     0.0
5       เสื้อยืดคอกลม            เสื้อผ้า   500.0     2.0
6         กางเกงยีนต์            เสื้อผ้า   999.0     8.0
7       ตุ๊กตาหมีพูห์             ของเล่น   950.0     5.0
8                โซฟา        เฟอร์นิเจอร์  5000.0     5.0
9                 จาน         เครื่องครัว   250.0     4.0
11              ยางลบ     อุปกรณ์การเรียน    20.0     5.0
12  External HardDisk  อุปกรณ์คอมพิวเตอร์  2500.0     7.0
13          คีย์บอร์ด  อุปกรณ์คอมพิวเตอร์   850.0     5.0
14           รถบังคับ             ของเล่น   500.0     6.0

# ลบ แถว แบบตัวหนังสือ index not number

In [33]:
df = pd.read_excel('./Stock.xlsx',index_col='Name')
df

                             Category    Price  Amount
Name
เมาส์              อุปกรณ์คอมพิวเตอร์    900.0    10.0
ปากกา                 อุปกรณ์การเรียน    200.0     5.0
โคมไฟ                เครื่องใช้ในบ้าน   1200.0     7.0
ไมโครโฟน              เครื่องใช้ไฟฟ้า    750.0     1.0
เครื่องซักผ้า         เครื่องใช้ไฟฟ้า   3500.0     0.0
เสื้อยืดคอกลม                เสื้อผ้า    500.0     2.0
กางเกงยีนต์                  เสื้อผ้า    999.0     8.0
ตุ๊กตาหมีพูห์                 ของเล่น    950.0     5.0
โซฟา                     เฟอร์นิเจอร์   5000.0     5.0
จาน                       เครื่องครัว    250.0     4.0
ทีวี                  เครื่องใช้ไฟฟ้า  15000.0     7.0
ยางลบ                 อุปกรณ์การเรียน     20.0     5.0
External HardDisk  อุปกรณ์คอมพิวเตอร์   2500.0     7.0
คีย์บอร์ด          อุปกรณ์คอมพิวเตอร์    850.0     5.0
รถบังคับ                      ของเล่น    500.0     6.0

In [35]:
row = ['เมาส์','ปากกา']#ใส่ชื่อที่ต้องการลบลงไป
df = df.drop(row,axis=0)
df

                             Category    Price  Amount
Name
โคมไฟ                เครื่องใช้ในบ้าน   1200.0     7.0
ไมโครโฟน              เครื่องใช้ไฟฟ้า    750.0     1.0
เครื่องซักผ้า         เครื่องใช้ไฟฟ้า   3500.0     0.0
เสื้อยืดคอกลม                เสื้อผ้า    500.0     2.0
กางเกงยีนต์                  เสื้อผ้า    999.0     8.0
ตุ๊กตาหมีพูห์                 ของเล่น    950.0     5.0
โซฟา                     เฟอร์นิเจอร์   5000.0     5.0
จาน                       เครื่องครัว    250.0     4.0
ทีวี                  เครื่องใช้ไฟฟ้า  15000.0     7.0
ยางลบ                 อุปกรณ์การเรียน     20.0     5.0
External HardDisk  อุปกรณ์คอมพิวเตอร์   2500.0     7.0
คีย์บอร์ด          อุปกรณ์คอมพิวเตอร์    850.0     5.0
รถบังคับ                      ของเล่น    500.0     6.0