In [5]:
import pandas as pd
df = pd.read_excel('Stock.xlsx')

In [8]:
df

                             Category    Price  Amount
Name
เมาส์              อุปกรณ์คอมพิวเตอร์    900.0    10.0
ปากกา                 อุปกรณ์การเรียน    200.0     5.0
โคมไฟ                เครื่องใช้ในบ้าน   1200.0     7.0
ไมโครโฟน              เครื่องใช้ไฟฟ้า    750.0     1.0
เครื่องซักผ้า         เครื่องใช้ไฟฟ้า   3500.0     0.0
เสื้อยืดคอกลม                เสื้อผ้า    500.0     2.0
กางเกงยีนต์                  เสื้อผ้า    999.0     8.0
ตุ๊กตาหมีพูห์                 ของเล่น    950.0     5.0
โซฟา                     เฟอร์นิเจอร์   5000.0     5.0
จาน                       เครื่องครัว    250.0     4.0
ทีวี                  เครื่องใช้ไฟฟ้า  15000.0     7.0
ยางลบ                 อุปกรณ์การเรียน     20.0     5.0
External HardDisk  อุปกรณ์คอมพิวเตอร์   2500.0     7.0
คีย์บอร์ด          อุปกรณ์คอมพิวเตอร์    850.0     5.0
รถบังคับ                      ของเล่น    500.0     6.0

In [11]:
datas = [
    ['A','A',100,20,500],
    ['B','B',100,20,500]
]
cols = ['Name','Category','Price','Amount','Summation']
newdf = pd.DataFrame(data=datas, columns=cols)
newdf = newdf.set_index('Name')
newdf

     Category  Price  Amount  Summation
Name
A           A    100      20        500
B           B    100      20        500

In [12]:
df.append(newdf)

C:\Users\Passa\AppData\Local\Temp\ipykernel_11392\3352460752.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df.append(newdf)

                             Category    Price  Amount  Summation
Name
เมาส์              อุปกรณ์คอมพิวเตอร์    900.0    10.0        NaN
ปากกา                 อุปกรณ์การเรียน    200.0     5.0        NaN
โคมไฟ                เครื่องใช้ในบ้าน   1200.0     7.0        NaN
ไมโครโฟน              เครื่องใช้ไฟฟ้า    750.0     1.0        NaN
เครื่องซักผ้า         เครื่องใช้ไฟฟ้า   3500.0     0.0        NaN
เสื้อยืดคอกลม                เสื้อผ้า    500.0     2.0        NaN
กางเกงยีนต์                  เสื้อผ้า    999.0     8.0        NaN
ตุ๊กตาหมีพูห์                 ของเล่น    950.0     5.0        NaN
โซฟา                     เฟอร์นิเจอร์   5000.0     5.0        NaN
จาน                       เครื่องครัว    250.0     4.0        NaN
ทีวี                  เครื่องใช้ไฟฟ้า  15000.0     7.0        NaN
ยางลบ                 อุปกรณ์การเรียน     20.0     5.0        NaN
External HardDisk  อุปกรณ์คอมพิวเตอร์   2500.0     7.0        NaN
คีย์บอร์ด          อุปกรณ์คอมพิวเตอร์    850.0     5.0        NaN
รถบังคับ                      ของเล่น    500.0     6.0        NaN
A                                   A    100.0    20.0      500.0
B                                   B    100.0    20.0      500.0