In [2]:
import pandas as pd
df = pd.read_excel('./Stock.xlsx',index_col='Name')

In [3]:
df

                             Category    Price  Amount
Name
เมาส์              อุปกรณ์คอมพิวเตอร์    900.0    10.0
ปากกา                 อุปกรณ์การเรียน    200.0     5.0
โคมไฟ                เครื่องใช้ในบ้าน   1200.0     7.0
ไมโครโฟน              เครื่องใช้ไฟฟ้า    750.0     1.0
เครื่องซักผ้า         เครื่องใช้ไฟฟ้า   3500.0     0.0
เสื้อยืดคอกลม                เสื้อผ้า    500.0     2.0
กางเกงยีนต์                  เสื้อผ้า    999.0     8.0
ตุ๊กตาหมีพูห์                 ของเล่น    950.0     5.0
โซฟา                     เฟอร์นิเจอร์   5000.0     5.0
จาน                       เครื่องครัว    250.0     4.0
ทีวี                  เครื่องใช้ไฟฟ้า  15000.0     7.0
ยางลบ                 อุปกรณ์การเรียน     20.0     5.0
External HardDisk  อุปกรณ์คอมพิวเตอร์   2500.0     7.0
คีย์บอร์ด          อุปกรณ์คอมพิวเตอร์    850.0     5.0
รถบังคับ                      ของเล่น    500.0     6.0

# หาผลรวมแนวนอน

In [6]:
df.sum(axis=1)

C:\Users\Passa\AppData\Local\Temp\ipykernel_5284\1459321664.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.sum(axis=1)

Name
เมาส์                  910.0
ปากกา                  205.0
โคมไฟ                 1207.0
ไมโครโฟน               751.0
เครื่องซักผ้า         3500.0
เสื้อยืดคอกลม          502.0
กางเกงยีนต์           1007.0
ตุ๊กตาหมีพูห์          955.0
โซฟา                  5005.0
จาน                    254.0
ทีวี                 15007.0
ยางลบ                   25.0
External HardDisk     2507.0
คีย์บอร์ด              855.0
รถบังคับ               506.0
dtype: float64

# หาผลรวมแนวตั้ง

In [7]:
df.sum()

Category    อุปกรณ์คอมพิวเตอร์อุปกรณ์การเรียนเครื่องใช้ในบ...
Price                                                 33119.0
Amount                                                   77.0
dtype: object

In [4]:
df['total'] = df['Price']+df['Amount']

In [8]:
print(df,'\n')
print(df.sum(axis=0))

                             Category    Price  Amount    total
Name
เมาส์              อุปกรณ์คอมพิวเตอร์    900.0    10.0    910.0
ปากกา                 อุปกรณ์การเรียน    200.0     5.0    205.0
โคมไฟ                เครื่องใช้ในบ้าน   1200.0     7.0   1207.0
ไมโครโฟน              เครื่องใช้ไฟฟ้า    750.0     1.0    751.0
เครื่องซักผ้า         เครื่องใช้ไฟฟ้า   3500.0     0.0   3500.0
เสื้อยืดคอกลม                เสื้อผ้า    500.0     2.0    502.0
กางเกงยีนต์                  เสื้อผ้า    999.0     8.0   1007.0
ตุ๊กตาหมีพูห์                 ของเล่น    950.0     5.0    955.0
โซฟา                     เฟอร์นิเจอร์   5000.0     5.0   5005.0
จาน                       เครื่องครัว    250.0     4.0    254.0
ทีวี                  เครื่องใช้ไฟฟ้า  15000.0     7.0  15007.0
ยางลบ                 อุปกรณ์การเรียน     20.0     5.0     25.0
External HardDisk  อุปกรณ์คอมพิวเตอร์   2500.0     7.0   2507.0
คีย์บอร์ด          อุปกรณ์คอมพิวเตอร์    850.0     5.0    855.0
รถบังคับ                      ของเล่น    500.0     6.0    506.0

Category    อุปกรณ์คอมพิวเตอร์อุปกรณ์การเรียนเครื่องใช้ในบ...
Price                                                 33119.0
Amount                                                   77.0
total                                                 33196.0
dtype: object