In [1]:
import csv
import pandas as pd

In [16]:
def write_csv(datalist):
    d = read_csv()
    if datalist not in d:
        with open('data.csv','a',encoding='utf-8',newline='') as file:
            fw = csv.writer(file)
            fw.writerow(datalist)

def read_csv():
    with open('data.csv','r',encoding='utf-8') as file:
        fr = csv.reader(file)
        data = list(fr)
    return data

In [20]:
a = ['phol','6/4','2000']
write_csv(a)
read_csv()

[['IQ', '6/4', '1000'], ['phol', '6/4', '2000']]

In [39]:
data = read_csv()
head = ['Name','Class','Money']
pd.DataFrame(data,columns=head)

   Name Class Money
0    IQ   6/4  1000
1  phol   6/4  2000