In [1]:
import pandas as pd
df = pd.read_excel('./dataupdate.xlsx','score')
df

      Name  Score  Age Gender grade
0  อาทิตย์     90   20    ชาย     A
1    นิตยา     75   18   หญิง     B
2    โจโจ้     88   22    ชาย     A
3   แก้มใส     65   19   หญิง     C
4  ตั๊กแตน     82   23   หญิง     A
5   เก๋ไก๋     50   20   หญฺง     D
6     วุฒิ     45   17    ชาย     F
7      ชัย     62   18    ชาย     C
8  ธนาวุฒิ     95   19    ชาย     A

In [2]:
# ทำงานที่คอลัม Score 
print('มากสุด',df.Score.max())
print('น้อยสุด',df.Score.min())
print('เฉลี่ย',df.Score.mean(),df.Score.sum()/df.Score.count())
print('ส่วนเบี่ยงเบนมาตรฐาน',df.Score.std())
print('จำนวนแถว',df.Score.count())
print('รวม',df.Score.sum())
print(df.dtypes)
#เปลี่ยน type ของคอลัมที่ต้องการ เช่น grade, score ...
df.Age = df.Age.astype('category')
print(df.dtypes)

มากสุด 95
น้อยสุด 45
เฉลี่ย 72.44444444444444 72.44444444444444
ส่วนเบี่ยงเบนมาตรฐาน 17.95209675157133
จำนวนแถว 9
รวม 652
Name      object
Score      int64
Age        int64
Gender    object
grade     object
dtype: object
Name        object
Score        int64
Age       category
Gender      object
grade       object
dtype: object

In [4]:
df.sum()

C:\Users\Passa\AppData\Local\Temp\ipykernel_4272\1703867807.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.sum()

Name      อาทิตย์นิตยาโจโจ้แก้มใสตั๊กแตนเก๋ไก๋วุฒิชัยธนา...
Score                                                   652
Gender                      ชายหญิงชายหญิงหญิงหญฺงชายชายชาย
grade                                             ABACADFCA
dtype: object