In [7]:
import pandas as pd
datas = [
    {'name':'phol','category':'game','ID':1},
    {'name':'saf','category':'phone','ID':2},
    {'name':'boy','category':'home','ID':3}
]
cols= [3,2,1]

In [10]:
df = pd.DataFrame(datas)
df

   name category  ID
0  phol     game   1
1   saf    phone   2
2   boy     home   3

In [11]:
df.set_index(['name'],inplace=True)
df

     category  ID
name
phol     game   1
saf     phone   2
boy      home   3

In [9]:
df = pd.DataFrame(datas,index=cols)
df

   name category  ID
3  phol     game   1
2   saf    phone   2
1   boy     home   3