In [1]:
import pandas as pd

name = ['phol','saf','boy']
item = ['home','game','sword']
price = [200,100,150]

In [2]:
#Create Series
name_s = pd.Series(name)
item_s = pd.Series(item)
price_s = pd.Series(price)

In [3]:
frame = [name,item,price]
cols = ['name','item','price','16.00']
pd.DataFrame(frame,columns=cols)

ValueError: 4 columns passed, passed data had 3 columns

In [ ]:
#Series to DataFrame
frame = {'name':name_s,'item':item_s,'price':price_s,'16.00':''}
df = pd.DataFrame(frame)

In [ ]:
df

   name   item  price 16.00
0  phol   home    200
1   saf   game    100
2   boy  sword    150

In [ ]:
df.set_index(['name'],inplace=True)
df

         item  price
name
phol     home    200
safboy   game    100
NaN     sword    150